body {
  font-family: arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.rain {
  margin-bottom: 30px;
}
.overview {
  margin-bottom: 0;
}
.weather-temp img {
  margin-bottom: 30px;
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temp strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temp .units {
  position: relative;

  top: -34px;
}
.weather-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temp .active:hover {
  text-decoration: none;
}

